*{
	font-family: verdana;
	
}

body{
	margin: 0;
}

#main_view{
	margin: 1%;
	background-color: #D9D9D9;
	height: 100%;
}

h1{
	display: inline-block;
	vertical-align: middle;

}

img{
	display: inline-block;
	vertical-align: middle;

}


#description{
	list-style: none;
}

#comments{
	color: red;
	border: 1px solid black;

}

#reply_here{
	list-style: none;
}

#reply_button{
	list-style: none;
}

#commenter_says{
	font-size: small;
	list-style: none;
}

#comment_body{
	list-style: none;


}

#my_home{
	float: right;
}

#header{
	background-color: #BDEDFC;
	color: grey;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
}



#side_inputs{
	background-color: #BDEDFC;
	float: right;
	border-left: 1px solid black;
	height: 100%;
}

#create_chan{

	background-color: papayawhip;
	margin: 0 auto;
	width: 90%;
	border-radius: 1em;
	padding: 1em;
	display: block;

}

#login{
	display: block;
	background-color: #FA7F7F;
	margin: 0 auto;
	width: 90%;
	border-radius: 1em;
	padding: 1em;
}