<html>
<head>
	<title>Doify: You are not on reddit!</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	
	<div id = "header"><img src="/images/ant.png" height="100" width ="100"><h1>Doify: You are not currently on reddit.</h1>
	<% if (login) { %>
	<a id = "my_home" href="/me/<%= user.name %>"><%= user.name %>'s Doify</a>
	<% } %>

	</div>

	<div id = "side_inputs">
		<% if (!login) { %>
	<div id = "login"><p>MEMBER LOGIN</p>
	<form action ='/me/login' method = 'POST'>
		<input type = 'text' name = 'email' placeholder ='email'><br><br>
		<input type = 'text' name = 'password' placeholder ='password'><br><br>
		<input type = 'submit'>
	</form>
	</div>
		<% } %>
	<div id = "create_chan"><p>Make a new Doify Channel</p>
	<form action ='/channels' method = 'POST'>
		<input type = 'text' name = 'name' placeholder ='new channel name'><br><br>
		<textarea rows = '4' cols ='50' name = 'description'>what should this channel be about?</textarea> <br><br>
		<input type = 'submit'>
	</form>
	</div>
	</div>
	<h3>Main Channels: Pick an area of productivity</h3>
	<% for (var i = 0; i < channel.length; i++){ %>
	<a href="channels/<%=channel[i].name%>/"> <li><%= channel[i].name %> </li> </a>
	<% } %>

	<% if (!login) { %> <a href="/me/signup"><h3>Become a member and start doify'ing today!</h3></a> <% } %>

</body>
</html>